#root,html{
  background: #EFEDEE;
  font-family: 'Open Sans', sans-serif;
}

.App {
}

.btn-lg{
  text-transform: uppercase !important;
  font-weight: 700 !important;
  border-radius: 30px !important;
}

.btn-green{
  background: #45C400;
  color:white;
}

.btn-blue{
  background: #00B3F2;
  color:white;
}

.btn-white{
  background: none;
}
.btn-blue{
  background: #4472C4;
  color:white;
}

.btn-blue:hover{
  color:white !important;
}

.text-blue{
 color: #00B3F4;
}
.text-grey{
  color: #666;
}

form{
  background: #FFF;
  border-radius: 10px;
}

.sidebar{
  border-radius: 12px;
  background: #666;
  color: white;
}

.selected {
  outline: 1px solid red;
}

.selected-answer{
  border-radius: 30px;
  border: 2px solid #45C400;
}

.unselected:hover{
  opacity:1;
}

.unselected {
  border: 2px solid transparent;
  opacity:0.6;
}

ul li {
  cursor: pointer;
  padding:1px 10px;
  display:inline-block;
}

.hidden{
  display: none;
}

/*
Yellow
#FFDB00

RED
#FF4D58
*/


.meter{
   /* Reset appearance DOES NOT WORK ON CHROME */
  background: #EEE;
  border-radius: 15px;
}

meter::-webkit-meter-bar {
    background: #EEE;
    border: 3px solid #EEE;
    border-radius: 15px;
}

meter::-webkit-meter-optimum-value {
    background: #86CC00; /* Green */
    border-radius: 15px;
}

meter::-webkit-meter-suboptimum-value {
    background: #FFDB00; /* Yellow */
    border-radius: 15px;
}

meter::-webkit-meter-even-less-good-value {
    background: #FF4D58; /* Red */
    border-radius: 15px;
}


/* Firefox */
meter::-moz-meter-bar {
    border-radius: 3px;
}
meter:-moz-meter-optimum::-moz-meter-bar {
    background: #86CC00; /* Green */
    border-radius: 15px;
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: #FFDB00; /* Yellow */
    border-radius: 15px;
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: #FF4D58; /* Red */
    border-radius: 15px;
}
