.App {
}

.btn-blue{
  background: #4472C4;
  color:white;
}

.btn-blue:hover{
  color:white !important;
}

form{
}

.sidebar{
  background: #eee;
}

.selected {
  outline: 1px solid gray;
}

.unselected:hover{
  outline: 1px dotted grey;
  opacity:0.8;
}

.unselected {
  opacity:0.6;
}

ul li {
  cursor: pointer;
  padding:1px 10px;
  display:inline-block;
}

.hidden{
  display: none;
}
