#root,html{
  background: #EFEDEE;
  font-family: 'Open Sans', sans-serif;
}

.App {
}

.btn-lg{
  text-transform: uppercase !important;
  font-weight: 700 !important;
  border-radius: 0px !important;
}

.btn-green{
  background: #0cb30c;
  color:white;
}

.btn-blue{
  background: #040582;
  color:white;
}

.btn-blue:hover{
  color:white !important;
}

.text-blue{
 color: #040582;
}
.text-grey{
  color: #666;
}

form{
  background: #FFF;
}

.cookie{
  color: #f40043;
}

img:hover{
  cursor: pointer;
}
.sidebar{
  color: #666;
}

.suggestions{
  font-size:20px;
}

.color-0{ border: 2px solid #f8c000; }
.selected-answer.color-0{ background: #f8c000; }

.color-1{ border: 2px solid #f40043; }
.selected-answer.color-1{ background: #f40043; }

.color-2{ border: 2px solid grey; }
.selected-answer.color-2{ background: grey; }

ul li {
  cursor: pointer;
  padding:1px 10px;
  display:inline-block;
}

.hidden{
  display: none;
}

/*
Yellow
#FFDB00

RED
#FF4D58
*/


.meter{
   /* Reset appearance DOES NOT WORK ON CHROME */
  background: #EEE;
}

meter::-webkit-meter-bar {
    background: #EEE;
    border: 3px solid #EEE;
}

meter::-webkit-meter-optimum-value {
    background: #86CC00; /* Green */
}

meter::-webkit-meter-suboptimum-value {
    background: #FFDB00; /* Yellow */
}

meter::-webkit-meter-even-less-good-value {
    background: #FF4D58; /* Red */
}


/* Firefox */
meter::-moz-meter-bar {
}
meter:-moz-meter-optimum::-moz-meter-bar {
    background: #86CC00; /* Green */
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: #FFDB00; /* Yellow */
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: #FF4D58; /* Red */
}

@media (min-width: 768px) {
  .meter.rotate{
    transform: rotate(-90deg);
  }
  .answer-image{
    max-width: 75%;
  }
}
