body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn-blue{
  background: #4472C4;
  color:white;
}

form{
  outline:1px dotted #ccc;
}
.suggestion{
  outline:1px dotted #6bc;
}
.sidebar{
  outline:1px dotted #6bc;
}
